 <!-- Links -->
                  <section>
                    <h2><%= data.site.links_name %></h2>
                    <div>
                      <div class="row">
                        <div class="3u 12u(mobile)">
                          <ul class="link-list last-child">
                            <% data.links1.links.each do |l| %>
                            <li><a href="<%= l.url %>"><%= l.title %></a></li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="3u 12u(mobile)">
                          <ul class="link-list last-child">
                            <% data.links2.links.each do |l| %>
                            <li><a href="<%= l.url %>"><%= l.title %></a></li>
                            <% end %>
                        </div>
                        <div class="3u 12u(mobile)">
                          <ul class="link-list last-child">
                            <% data.links3.links.each do |l| %>
                            <li><a href="<%= l.url %>"><%= l.title %></a></li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="3u 12u(mobile)">
                          <ul class="link-list last-child">
                            <% data.links4.links.each do |l| %>
                            <li><a href="<%= l.url %>"><%= l.title %></a></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>